* {
    border: 2px solid black ;
}

img {
    display: block ;
}

a   {
    display: inline-block ;
    height: 50px ;
}

ul  {
    padding: 0px ;
    position: sticky ;
    top: 0px ;
}

li  {
    display: inline-block ;
}

li:hover    {
    color: red ;
}

#img2   {
    display: none ;
}

#pos_rel    {
    width: 75% ;
    position: relative ;
    left: 50px ;
    top: 100px ;
    z-index: -10000 ;
}

#padre  {
    width: 75% ;
    height: 200px ;
}

#hijo   {
    width: 50% ;
    position: absolute ;
    bottom: 0px ;
}

#fijo   {
    width: 200px ;
    position: fixed ;
    right: 0px ;
    top: 50% ;
}